th{
    background-color: yellow;
}
.spoiler {
    display: none;
}

.trigger.close {
    display: none;
}

.trigger.open:target {
    display: none;
}

.trigger.open:target + .trigger.close {
    display: inline;
}

.trigger.open:target + .trigger.close + .spoiler {    
    display: block;
}
h1{
    text-align: center;
}
input,button{
    margin-left: 1%;
}
.trigger.open{
    margin-left: 2%;
}
.trigger.close{
    margin-right: 2%;
}
th,td{
    font-size:14px;
}
a,a:visited{
  color:#ff9933;  
}
.done-true  {
    color: #777777;
    text-decoration: line-through;
}