
   <navbar></navbar>
      <h1 class="md-subhead" style="color:yellow">Hello {{ stas.name }}</h1>
      <section>
  <fieldset>
        <p style="color:yellow">Check All</p>
        <input type="checkbox" ng-model="stas.selectedAll" ng-click="stas.checkAll()" />
      
        <input type="text" ng-model="test" placeholder="Enter a letter to filter">
      
        <span style="color:yellow">  {{stas.data.length}} remaining</span>
     
          <ul>
                 <li class="form-inline" ng-repeat="x in stas.data | filter:test"> 
                    <input type="checkbox" ng-model="x.done"/>
                    <input type="text" class="form-control done-{{x.done}}" value="{{x.id}}"/>
                    <input type="text" class="form-control done-{{x.done}}" value="{{x.email}}"/>
                    <input type="text" class="form-control done-{{x.done}}" value="{{x.firstname}}"/>
                    <input type="text" class="form-control done-{{x.done}}" value="{{x.lastname}}"/>
                    <button class="delete btn btn-danger" ng-click="stas.delete(x)">&#10008;</button>
                </li>
          </ul>
  </fieldset>
  
  <p><button ng-click="stas.remove()">Remove marked</button></p>
  
  <form class="form-inline" name="formPerson" ng-submit="stas.AddPerson()">
          <input class="form-control" type="text" name="id" data-ng-model="stas.Person.id"  placeholder="id" />
          <input class="form-control" type="text" name="email" data-ng-model="stas.Person.email"  placeholder="email" />
          <input class="form-control" type="text" name="firstname" data-ng-model="stas.Person.firstname"  placeholder="firstname" />
          <input class="form-control" type="text" name="lastname" data-ng-model="stas.Person.lastname"  placeholder="lastname" />
          <input type="submit" class="btn btn-success" ng-click="submitted = true"/>
  </form>
  </section>     





          <mdt-table ng-repeat="x in stas.data">
    <mdt-header-row>
        <mdt-column align-rule="left">{{x.id}}</mdt-column>
        <mdt-column align-rule="right">{{x.email}}</mdt-column>
        <mdt-column align-rule="right">{{x.firstname}}</mdt-column>
        <mdt-column align-rule="right">{{x.lastname}}</mdt-column>
    </mdt-header-row>
</mdt-table>
     <md-button class="md-primary md-raised md-button md-ink-ripple">Button</md-button>
     <md-button class="btn1 md-ink-ripple"> Button </md-button>
     
